<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>德系品牌</string>
		<key>footer</key>
		<string>质量有保障，高端大气上档次</string>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>奔驰</string>
				<key>icon</key>
				<string>m_2_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宝马</string>
				<key>icon</key>
				<string>m_3_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>奥迪</string>
				<key>icon</key>
				<string>m_9_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>保时捷</string>
				<key>icon</key>
				<string>m_82_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大众</string>
				<key>icon</key>
				<string>m_8_100</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>日系品牌</string>
		<key>footer</key>
		<string>性价比极高，中低端首选</string>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>丰田</string>
				<key>icon</key>
				<string>m_7_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>马自达</string>
				<key>icon</key>
				<string>m_18_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>本田</string>
				<key>icon</key>
				<string>m_26_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>日产</string>
				<key>icon</key>
				<string>m_30_100</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>意系品牌</string>
		<key>footer</key>
		<string>低调的奢华，高富帅首选</string>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>法拉利</string>
				<key>icon</key>
				<string>m_91_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>玛莎拉蒂</string>
				<key>icon</key>
				<string>m_93_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>兰博基尼</string>
				<key>icon</key>
				<string>m_86_100</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>天系品牌</string>
		<key>footer</key>
		<string>天朝自主品牌，牛逼哄哄</string>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>比亚迪</string>
				<key>icon</key>
				<string>m_15_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>瑞麒</string>
				<key>icon</key>
				<string>m_142_100</string>
			</dict>
			<dict>
				<key>name</key>
				<string>奇瑞</string>
				<key>icon</key>
				<string>m_42_100</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
